body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Caladea';
  }
  
  body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../img/PageHome.webp") no-repeat center center fixed;
    background-size: cover;
    filter: brightness(70%);
    z-index: -1;
}
  .container {
    width: 300px; 
    border: 1px solid #ccc; 
    padding: 20px;
    background-color: rgb(219, 218, 218); 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    z-index: 1;
    border-radius: 2%;
  }
  
  .header{
    margin: 20px;
    font-family: 'Lucida Calligraphy';
    text-align: center;
    font-size: 30px;
  }
  .form, .footer button {
    margin: 20px;
    text-align: center;
  }
  
  .form input[type=text], .form input[type=password] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .form button {
    width: 90%;
    background-color: #7B2D26 ;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
  }
  
  .form button:hover {
    opacity: 0.8;
  }
  
  .footer button {
    width: 90%;
    padding: 10px;
    margin-top: 20px;
  }
  